*.csproj
studio_week1/Library/
studio_week1/Temp/
*.sln
*.userprefs
studio_week2/Library/
studio_week2/Temp/
studio_week3/Library/
studio_week3/Temp/
studio_week4/Library/
studio_week4/Temp/
studio_week5/Library/
studio_week7/Library/
studio_week7/Temp/
studio_week10/Library/
studio_week10/Temp/
studio_week11/Library/
studio_week11/Temp/
